<header>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded navColour">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" id="logo" href="/">Fishbook</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item active">
          <a class="nav-link" href="/places">Locations<span class="sr-only">(current)</span></a>
        </li>
        <% if(locals.isAuthenticated) { %>
          <li class="nav-item">
            <a class="nav-link" href="/users/<%=user.id%>">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/places/new">Add New Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>
