<header>
  <nav class="container">
    <div class="row">
      <ul class="col">
        <li class="menu">&#9776;</li>
        <div class="dropdown">
          <li><a href="/">FishBook</a></li>
          <li><a href="/places">Locations</a></li>

            <li><a href="/profile">Profile</a></li>
            <li><a href="/places/new">Add New Location</a></li>
            <li><a href="/logout">Logout</a></li>

            <li><a href="/login">Log In</a></li>
            <li><a href="/register">Register</a></li>

        </div>
      </ul>
    </div>
  </nav>
</header>
