<div class="container">
  <form method="POST" action="/places" enctype="multipart/form-data">
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name">
    </div>
    <div>
      <label for="region">Region</label>
      <input type="text" name="region" id="region">
    </div>
    <div>
      <label for="licence">Licence required?</label>
      <input type="text" name="licence" id="licence">
    </div>
    <div>
      <label for="rating">Rating</label>
      <input type="number" name="rating" id="rating">
    </div>
    <div>
      <label for="keywords">Keywords</label>
      <input type="text" name="keywords" id="keywords">
    </div>
    <div>
      <label for="price">Price (if applicable)</label>
      <input type="number" name="price" id="price">
    </div>
    <div>
      <label for="streetName">Street Name</label>
      <input type="text" name="streetName" id="streetName">
    </div>
    <div>
      <label for="postCode">Post Code</label>
      <input type="text" name="postCode" id="postCode">
    </div>
    <div>
      <label for="image">Cover Photo</label>
      <input type="file" name="image" id="image">
    </div>
    <div>
      <label for="description">Description</label>
      <input type="textarea" name="description" id="description">
    </div>
    <button class="btn btn-success find">Add Location!</button>
  </form>
</div>
