<h2>Plan a trip</h2>

<div class="container">
<div id="map_canvas" class="tripPlan" data-place="<%= JSON.stringify(place) %>"></div>
    <form action="" id="routeForm">
        <input type="submit" value="Navigate!">
    </form>
<div id="directionsPanel"></div>
</div>
