<!DOCTYPE html>
<html>
  <% include ./partials/_scripts %>
  <body>
    <% include ./partials/_navbar %>
    <% for(const type in messages) { %>
      <div class="<%= type %>">
        <h5><%= messages[type] %></h5>
      </div>
    <% } %>
    <main>
      <%- body %>
    </main>
  </body>
</html>
