<!DOCTYPE html>
<html>
  <% include ./partials/_scripts %>
  <body>
    <% include ./partials/_navbar %>
    <div class="container">
      <% for(const type in messages) { %>
        <div id="flash"class="<%= type %>">
          <h5><%= messages[type] %></h5>
        </div>
      <% } %>
    </div>
    <main>
      <%- body %>
    </main>
  </body>
</html>
